/* Início - Configuração geral */
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}
/* Fim - Configuração geral */

/* Início - Configuração do header */
header {
    display: flex;
    align-items: center;
    background-color: rgb(107, 44, 44);
    flex-wrap: wrap;    
    padding: 10px;
}

.cabecalho {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 60%;
}

.logo h1 {
    color: wheat;
    letter-spacing: 4px;
}

.logo img {
    width: 150px;
}

.pesquisa {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 40%;
    gap: 10px;
}

.pesquisa input {
    width: 300px;
}

#menuToggle {
    display: none;
}

.menu-icon {
    display: none;
}

.opcoes {
    width: 100%;
    background-color: wheat;
    border-radius: 10px;
}

.opcoes ul {
    display: flex;
    margin: 2px 0px;
    gap: 200px;
    align-items: center;
    align-content: center;
    justify-content: center;
}
/* Fim - Configuração do header */

/* Início - Configuração do corpo do site */
.grid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    margin: 20px 0px;
}

.grid h1 {
    color: rgb(107, 44, 44);
}

.col2 {
    margin-top: 50px;
}

section ul {
    background-color: wheat;
    padding: 10px;
    border-radius: 10px;
}

section p {
    font-size:x-large;
    text-align: right;
    margin-bottom: 30px;
}
/* Fim - Configuração do corpo do site */

/* Início - Configuração do footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgb(204, 204, 204);
    padding-top: 20px;
    border-top: 1px solid black;
}

footer p{
    margin-bottom: 10px;
}

footer img{
    width: 40px;
}
/* Fim - Configuração do footer */

/* Início - Configuração outros tipos de tela */
@media screen and (max-width: 2560px) {
    .opcoes ul {
        display: flex;
        margin: 2px 0px;
        gap: 400px;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .barra {
        display: none;
    }
}

@media screen and (max-width: 2560px) {
    .opcoes ul {
        display: flex;
        margin: 2px 0px;
        gap: 300px;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .barra {
        display: none;
    }
}

@media screen and (max-width: 1885px) {
    .opcoes ul {
        display: flex;
        margin: 2px 0px;
        gap: 250px;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .barra {
        display: none;
    }
}

@media screen and (max-width: 1620px) {
    .opcoes ul {
        display: flex;
        margin: 2px 0px;
        gap: 215px;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .barra {
        display: none;
    }
}

@media screen and (max-width: 1440px) {
    .opcoes ul {
        display: flex;
        margin: 2px 0px;
        gap: 200px;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .barra {
        display: none;
    }
}

@media screen and (max-width: 1360px) {
    .opcoes ul {
        display: flex;
        margin: 2px 0px;
        gap: 150px;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .barra {
        display: none;
    }
}

@media screen and (max-width: 1280px) {
    .opcoes ul {
        display: flex;
        margin: 2px 0px;
        gap: 100px;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .barra {
        display: none;
    }
}

@media screen and (max-width: 853px) {
    .opcoes ul {
        display: flex;
        margin: 2px 0px;
        gap: 80px;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .barra {
        display: none;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr, 1fr;
        grid-gap: 20px;
        margin: 20px 0px;
    }

    .coluna1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    /*Início - Menu interativo*/
    .opcoes {
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        top: 0px;
        left: 0px;
        align-content: center;
        width: 100%;
        height: 0%;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 0;
        transition: height 0.3s;
    }

    .card {
        position: relative;
        z-index: -1;
    }

    .opcoes ul {
        color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }
    
    .opcoes li a {
        display: block;
        text-align: center;
        width: 100%;
    }

    .pesquisa {
        display: none;
    }

    .barra {
        display: inherit;
    }

    .menu-icon {
        display: block;
        color: white;
        width: 50px;
        height: inherit;
        position: absolute;
        top: 15px;
        right: 30px;
        line-height: 60px;
        z-index: 999;
    }    

    .menu-icon i {
        font-size: 1.7em;
    }

    #menuToggle:checked ~ label i:nth-child(2) {
        display: block;
    }

    #menuToggle:checked ~ label i:first-child {
        display: none;
    }

    #menuToggle:not(checked) ~ label i:nth-child(2) {
        display: none;
    }

    #menuToggle:not(checked) ~ label i:first-child {
        display: block;
    }

    #menuToggle:checked ~ .opcoes {
        height: 100%;
    }
    /*Fim - Menu interativo*/

    .pesquisa input {
        width: 100px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr, 1fr;
        grid-gap: 20px;
        margin: 20px 0px;
    }

    .coluna1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
}

/* Fim - Configuração outros tipos de tela */